
img {
  widows: 128px;
  height: 128px;
}

div {
  border: solid 1px blue;
  margin: 10px;
  padding: 10px;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(112,128,144,1);
}

.selected{
    background-color:aqua;
}

.done{
    visibility: hidden;
}

